*{
    margin: 0px;
    padding: 0px;
}
.header-logo-container{
    display: flex;
    gap: 10px;
    border: 2px solid ;
    background: rgba(11, 2, 35, 0.10);
    
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 20px;
}
.menus{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 20px;
}
.logo-container{
    display: flex;
    gap: 20px;
    align-items: center;
    
}
.logo-container h1{
    font-size: 40px;
}
/* 2nd project */
.row{
    display: flex;
    background-image: url(./images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: 600px 520px;
    width: 800px;
    white-space: normal;
    
}

.colum-2 img{
    padding-left: 350px;
    width: 500px;
}
.banner-container{
    text-align: center;
    padding-left: 100px;
    margin-top: 120px;
    text-overflow: ellipsis;
overflow: visible;
white-space: nowrap;
    
}
.btn{
    display: inline-flex;
padding: 21px 40px;
align-items: center;
height: 50px;
border-radius: 30px;
color: white;
background-color: #FF41A5;
border: 0px;
}
.btn-1{
    display: inline-flex;
padding: 15px 40px;
border-radius: 30px;
height: 50px;
align-items: center;
background-color: #4EC5F7;
color: white;
border: 0px;
}
.btn-container{
    display: flex;
    gap: 15px;
    padding-top: 10px;
}
.header-content{
    color: #f948b2;
}
.banner-container h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
padding-bottom: 8px;
text-align: left;
}
.banner-container h2{
color: #0B0223;
text-align: center;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;

}
.banner-container p{
    padding: 5px;
    text-align: left;
}
/* 3rd project */

.section-container{
    padding-top: 100px;
    text-align: center;
}
.gaming-banner-container{
    padding-top: 70px;
    display: flex;
    justify-content: space-around;
    padding-left: 10px;

}
.gaming-banner-container img{
    width: 320px;
}
.section-container p{
    padding-top: 20px;
    color: #534C64;
}
.span-tag-container{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

/* 4th project */

.play-instantly-container{
    display: flex;
    margin-top: 100px;
    gap: 150px;
}
.play-instantly{
    text-align: center;
    /* margin-top: 100px; */
    padding-top: 150px;
    padding-right: 100px;
}
.play-instantly h3{
    text-align: right;
white-space:pre-wrap;
font-size: 48px;
font-style: normal;
font-weight: 700;
}
.play-instantly p{
    color: #534C64;
text-align: right;
font-size: 18px;
font-style: normal;
}
.play-instantly p{
    color: #534C64;
}
.logo-batch-img{
    position: relative;
    bottom: 200px;
    right: 150px;
 }
 .play-instantly-img{
    height: 90%;
 }


 /* 5th project */

 .hover-container:hover{
    border: 2px solid #F948B2;
    border-radius: 20px;
    border-color: #f948b2;
    padding-left: 25px;
    color: #FF41A5;
}
.img-container-2 :hover{
    border: 2px solid #F948B2;
    width: 200px;
    height: 100px;
    background-color: #0B0223;
}


.main-logo-container{
    display: flex;
    padding: 20px;
    gap: 100px;
    padding-left: 190px;
    justify-content: center;
    padding-right: 260px;
}
.main-logo-container p{
    position: relative;
    bottom: 45px;
    left: 70px;
}
.main-logo-container p{
    position: relative;
    bottom: 43px;
    left: 70px;
}

/* footer section */

.footer-img{
    display: flex;
    gap: 20px;
    padding-left: 600px;
    padding-top: 50px;
    color: white;
}
.footer-ul{
    display: flex;
    list-style: none;
    gap: 70px;
    padding-left: 320px;
    padding-top: 50px;
    color: white;
}
.gamer-footer{
    background-color: #0B0223;;
    padding-top: 80px;
}
.footer-container-img{
    display: flex;
    gap: 50px;
    width: 200px;
    height: 40px;
    padding-left: 590px;
    padding-top: 50px;
}
.footer-last-container{
    display: flex;
    color: #534C64;;
    gap: 60px;
    padding-left: 370px;
    list-style: none;
    padding-top: 50px;
}
.footer-contaier-gaming{
    color: #534C64;;
    padding-left: 520px;
    padding-top: 50px;
    padding-bottom: 100px;
}